.fixed-header {
  position: fixed;
  width: 100%;
  top: 0;
  /* background-color: #323f5b; */
  background-color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  height: 8vh;
  min-height: 7vh;
}

.header-links-container {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.header-links-container li {
  list-style: none;
  padding: 0 10px;
  font-size: 110%
}

a, a:link, a:active, a:visited {
  cursor: default;
  text-decoration: none;
  color: grey;
  transition: 0.8s;
}

a:hover {
  text-decoration: none;
  color: black;
}

.initials {
  font-size: 180%;
  color: #ffe257;
}
