/* Everything underneath here stylizes the entire HTML for any screen width*/
@font-face {
  font-family: roboto;
  src: url(/assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: poppins;
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}

html {
  scroll-behavior: smooth;
  font-family: poppins, sans-serif;
}

@media screen and (min-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: white;
  }

  .all-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-containers-container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .content-containers-container:nth-child(even) {
    background-color: #ffe257;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    scroll-margin-top: 3rem;
  }

  h2 {
    font-size: 2.8em;
    margin: 0;
    align-self: flex-start;
  }

  /* The code below stylizes the "home" tab, or the tab that has my name and profile picture.*/
  .content-container#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    width: 70%;
    height: 100vh;
    scroll-margin-top: 60rem;
    text-align: center;
  }

  h1 {
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .main-text h3 {
    font-size: 2em;
    opacity: .4;
    text-align: center;
  }

  .icons-container-container {
    display: flex;
    justify-content: center;
  }

  .icons-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    scroll-margin-top: 10rem;
  }

  .social-icons {
    height: 40px;
    margin: 10px 40px;
  }

  .social-icons:hover {
    cursor: pointer;
  }

  /* The code below stylizes the "projects" tab which shows my most challenging projects (projects I want to brag about). */
  .content-container#projects {}

  .project-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .individual-project {
    margin: 10px;
    width: 40%;
  }

  .project-demo-gif {
    width: 100%;
  }

  .multiple-project-gifs-container {
    display: flex;
    flex-direction: row;
  }

  .multiple-project-gifs-container>.project-demo-gif {
    width: 33%;
  }

  /* The code below stylizes the "experience" tab, or the tab that shows my previous work experiece. */
  .individual-experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .individual-experience:not(:last-child) {
    border-bottom: 2px lightgrey solid;
  }

  .experience-title {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .experience-title>h4, .experience-title>h3 {
    margin: 0;
  }

  .experience-title>h4 {
    opacity: .6;
  }

  .experience-descriptions-list {
    width: 40%;
  }
}

@media screen and (max-width: 991px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }

  h1 {
    font-size: 2.5em;
    margin: 0;
  }

  .content-containers-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-containers-container:nth-child(odd) {
    background-color: #f6e17d;
  }

  .content-containers-container:first-child {
    height: 75vh;
  }

  .content-container {
    margin: 0 15px;
  }

  .content-container#home {
    text-align: center;
  }

  .icons-container-container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .icons-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    scroll-margin-top: 10rem;
  }

  .social-icons {
    height: 40px;
    margin: 5px 20px;
  }

  .project-demo-gif {
    width: 92vw;
    /* display: none; */
  }

  .multiple-project-gifs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .multiple-project-gifs-container>.project-demo-gif {
    width: 30%;
  }

  .individual-experience:not(:last-child) {
    border-bottom: 2px lightgrey solid;
  }
}
