/* Media query for any non-mobile screen */
@media screen and (min-width: 769px) {
  .fixed-header {
    position: fixed;
    width: 100%;
    top: 0;
    /* background-color: #323f5b; */
    background-color: white;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    height: 8vh;
    min-height: 7vh;
  }

  .header-links-container {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
  }

  .header-links-container li {
    list-style: none;
    padding: 0 10px;
    font-size: 110%;
  }

  a, a:link, a:active, a:visited {
    cursor: default;
    text-decoration: none;
    color: grey;
    transition: 0.8s;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }

  .initials {
    font-size: 180%;
    color: #ffe257;
    margin: 0;
    text-align: center;
  }

  #my-face {
    height: 30px;
    border-radius: 15%;
    margin-right: 10px;

  }

  .face-and-initials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}


@media screen and (max-width: 768px) {
  header {
    display: none !important;
  }

  #my-face, .initials {
    display: none;
  }

  .full-name {
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: black;
  }

  /* Header is not fixed on mobile to save space. */
  .fixed-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-links-container {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
  }

  .header-links-container li {
    list-style: none;
    padding: 0px 4px;
    font-size: 110%;
  }

  a, a:link, a:active, a:visited {
    cursor: default;
    text-decoration: none;
    color: black;
  }

  #resume-pdf-link {
    display: none;
  }

}
