@font-face {
  font-family: poppins;
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}

* {
    font-family: poppins;
}
body {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5em;
}


#under-construction {
  text-align: center;
}
